<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>
</head>
<body>
    <h1>Currency Exchange</h1>

    <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">
        <table border="1">
            <tr>
                <td><label th:text="#{msg.id}" /></td>
                <td><input type="number" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td><label th:text="#{msg.name}" /></td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>